body{

}

.speaker{
    position: relative;
    width: 600px;
    height: 600px;
    background: lightgrey;
}

.body {
    width: 250px;
    height: 500px;
    background: black;
    position: absolute;
    top: 50px;
    left: 175px;
    border-radius: 20px 20px 20px 20px;
}

.body:hover ~ .light{
    background: rgb(0, 255, 21);
    box-shadow: 0 0 23px 10px rgba(0, 255, 21, 1);
}

.body:hover ~.drumpaper3{
    animation: vibration 0.5s infinite linear;
}

.body:hover ~.drumpaper2{
    animation: vibration1 0.5s infinite linear;
    animation-delay: 0.25s;
}



.button1 {
    width: 50px;
    height: 50px;
    background: rgb(228, 228, 228);
    position: absolute;
    top:400px;
    left:275px;
    border-radius:25px 25px 25px 25px;
}

.button2 {
    width: 5px;
    height: 5px;
    background: rgb(166, 166, 166);
    position: absolute;
    top:420px;
    left:280px;
    border-radius:2.5px 2.5px 2.5px 2.5px;
}

.light{
    width: 5px;
    height: 5px;
    background: rgb(255,255,255);
    position: absolute;
    top:482px;
    left:297.5px;
    border-radius:2.5px 2.5px 2.5px 2.5px;
}

.hole1 {
    width: 20px;
    height: 20px;
    background: rgb(166,166,166);
    position: absolute;
    top:475px;
    left:240px;
    border-radius:10px 10px 10px 10px;
}

.hole2 {
    width: 20px;
    height: 20px;
    background: rgb(166,166,166);
    position: absolute;
    top:475px;
    left:340px;
    border-radius:10px 10px 10px 10px;
}

.drumpaper1{
    width: 200px;
    height: 200px;
    background: rgb(166, 166, 166);
    position: absolute;
    top:70px;
    left:200px;
    border-radius:100px 100px 100px 100px;
}

.drumpaper2{
    width: 160px;
    height: 160px;
    background: rgb(255, 255, 255);
    position: absolute;
    top:90px;
    left:220px;
    border-radius:80px 80px 80px 80px;
}

.drumpaper3{
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
    position: absolute;
    top:145px;
    left:275px;
    border-radius:25px 25px 25px 25px;
}

@keyframes vibration {
  0% {
    transform:scale(1);
  }
  25% {
    transform:scale(1.13);
  }
  30% {
    transform:scale(1.2);
  }
  45% {
    transform:scale(1.15);
  }
  65% {
    transform:scale(1.13);
  }
  75% {
    transform:scale(1.45);
  }
  80% {
    transform:scale(1.15);
  }
  100%{
    transform:scale(1);
  }
}
@keyframes vibration1 {
  0% {
    transform:scale(1);
  }
  25% {
    transform:scale(1.03);
  }
  30% {
    transform:scale(1.02);
  }
  45% {
    transform:scale(1.05);
  }
  65% {
    transform:scale(1.03);
  }
  75% {
    transform:scale(1.02);
  }
  80% {
    transform:scale(1.05);
  }
  100%{
    transform:scale(1);
  }
}
