@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css2?family=Rajdhani&display=swap);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: linear-gradient(to top, #141e30, #243b55);
  color: white;
  font-family: 'Rajdhani', sans-serif;
}

.link{ 
	color: #FDB731; 
}

.link:hover {
	color: #BD0034;
}

pre{
	text-align: center;
	margin-bottom: 0;
	margin-left: -70px;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 1300px;
    height: 172px;
    margin: 0 auto;
    margin-top: -50px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

p{
	text-align: center
}

.desc{
	font-size: 2em;
}

#exercises, #projects{
	font-size: 20px;
	display:inline-block;
	
}
