html,body{
	margin: 0;
}

nav {
  color: #6c6c6c;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  background-color:rgb(20,21,31);
}

a:visited {
  color: rgb(253, 183, 49);
}