* {
    box-sizing: border-box;
}

body{

}

.bounding-box{
    position: relative;
    width: 260px;
    height: 260px;
    background: white;
    margin: 20px;
}

.topleft-triangle1{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 19.57px;
    border-top: 7px solid black;
    top:40px;
    left:70px;
}

.topleft-triangle2{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 0px;
    border-top: 7px solid black;
    top:40px;
    left:30.5px;
}

.bottomleft-triangle1 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 19.57px;
    border-bottom: 7px solid black;
    position: absolute;
    top: 213px;
    left: 70px;
    z-index:2;
}

.bottomleft-triangle2 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 0px;
    border-bottom: 7px solid black;
    position: absolute;
    top: 213px;
    left: 30.5px;
}

.topright-triangle{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 19.57px;
    border-top: 7px solid black;
    position: absolute;
    top: 40px;
    left: 170px;
    transition: all 800ms ease 0s;
}

.topright-triangle:hover{
    border-left-width: 25px;
    border-right-width: 25px;
    border-top-width: 8.75px;
    left:165px;
}

.bottomright-triangle{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 140.5px;
    border-bottom: 90px solid black;
    position: absolute;
    top: 130px;
    left: 70px;

/*    transition: all 800ms ease 0s;*/
}

.innerblank:hover {
    top:140px;
    border-right-width:136px ;
}

.innerblank{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    position: absolute;
    top: 130px;
    left: 70px;
    border-left-width: 0px;
    border-right-width: 121px;
    border-bottom: 90px solid white; 

    transition: all 800ms ease 0s;
}

.stroke{
    width: 20px;
    height: 180px;
    position: absolute;
    top: 40px;
    left: 50px;
    background: black;
}

.stroke:hover ~ .strokeblank{
    left:30px;
}

.strokeblank {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    position: absolute;
    top: 120px;
    left: 50px;
    border-left: 20px solid white;
    border-top-width: 10px;
    border-bottom-width: 10px; 

    transition: all 800ms ease 0s;
}
