* {
	margin: 0px;
	padding: 0px;
}

body {
	background: lightgrey;	
}

/* navigation */

nav {
	padding: 30px;
}

/* stage */

#showcase {
	width: 1200px;
	height: 800px;
	margin: auto;
	overflow: visible;
	position: relative;
	top: calc(50vh - 400px);
}
.letter{
	transform-origin: center;
	transition: all 800ms ease;	
}

#a{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#b{
	transform: rotate(-70deg) translateX(-80px) translateY(-10px);
}
#c{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#d{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#e{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#f{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#g{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#h{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#i{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#j{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#k{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#l{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#m{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#n{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#o{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#p{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#q{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#r{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#s{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#t{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#u{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#v{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#w{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#x{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#y{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#z{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N0{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N1{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N2{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N3{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N4{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N5{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N6{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N7{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N8{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}
#N9{
	transform: rotate(-40deg) translateX(-30px) translateY(-30px);
}

/* images */
img {
	width: 10%;
	height: 10%;
	padding-top: 40px;
}

#showcase:hover #a,#showcase:hover #b,#showcase:hover #c,#showcase:hover #d,#showcase:hover #e,
#showcase:hover #f,#showcase:hover #g,#showcase:hover #h,#showcase:hover #i,#showcase:hover #j,
#showcase:hover #k,#showcase:hover #l,#showcase:hover #m,#showcase:hover #n,#showcase:hover #o,
#showcase:hover #p,#showcase:hover #q,#showcase:hover #r,#showcase:hover #s,#showcase:hover #t,
#showcase:hover #u,#showcase:hover #v,#showcase:hover #w,#showcase:hover #x,#showcase:hover #y,
#showcase:hover #z,#showcase:hover #N0,#showcase:hover #N1,#showcase:hover #N2,#showcase:hover #N3,
#showcase:hover #N4,#showcase:hover #N5,#showcase:hover #N6,#showcase:hover #N7,#showcase:hover #N8,
#showcase:hover #N9{
	transform: rotate(0deg) translateX(0px) translateY(0px);
}