@import url(https://fonts.googleapis.com/css2?family=Rajdhani&display=swap);

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #252422;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 800;
}

nav {
	padding: 30px;
}

.link{
	color: #FDB731; 
}

.link:hover {
	color: #BD0034;
}

#showcase {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	overflow: visible;
	position: relative;
	top: 35px;
}

#headline, #tailline{
	margin: 0 auto;
	text-align: center;
	position: relative;
	left:-117px;
	width:800px;
	height:200px;
}
#tailline{
	top:110px;
}

.headletter, .tailletter{
	padding:0 0;
	width:168px;
	height:153px;
}


.letter, .backgroundshadow, #tailline, #headline{
	opacity: 0;
	visibility: hidden;
	transition: opacity 600ms ease-out, transform 300ms ease-out,
	visibility 600ms ease-out;
}

.letter, #tailline,#headline{
	transform: translateX(-10px) ;
}

img {
	width: 11%;
	height: 10%;
	padding-top: 40px;
}

.background{
	width: 600px;
	height: 600px;
	background: #FFFCF2;
	position:absolute;
	left:50%;
	z-index:-1;
	margin:-542px -315px;
}

.backgroundshadow{
	width: 600px;
	height: 600px;
	background: #B6AA96;
	position:absolute;
	left:50%;
	z-index:-2;
	margin:-522px -295px;
	transition-delay:600ms;
	transform: translateX(-10px) translateY(-10px);
}

#tailline,#headline{
	transition-delay:1200ms;
}


#showcase:hover #a,#showcase:hover #b,#showcase:hover #c,#showcase:hover #d,#showcase:hover #e,
#showcase:hover #f,#showcase:hover #g,#showcase:hover #h,#showcase:hover #i,#showcase:hover #j,
#showcase:hover #k,#showcase:hover #l,#showcase:hover #m,#showcase:hover #n,#showcase:hover #o,
#showcase:hover #p,#showcase:hover #q,#showcase:hover #r,#showcase:hover #s,#showcase:hover #t,
#showcase:hover #u,#showcase:hover #v,#showcase:hover #w,#showcase:hover #x,#showcase:hover #y,
#showcase:hover #z,#showcase:hover #N0,#showcase:hover #N1,#showcase:hover #N2,#showcase:hover #N3,
#showcase:hover #N4,#showcase:hover #N5,#showcase:hover #N6,#showcase:hover #N7,#showcase:hover #N8,
#showcase:hover #N9,#showcase:hover #excla,#showcase:hover #quest,#showcase:hover .backgroundshadow,
#showcase:hover #tailline,#showcase:hover #headline {
  opacity: 1;
  transform: none;
  visibility: visible;
}

