@import url(https://fonts.googleapis.com/css2?family=Rajdhani&display=swap);

* {
	margin: 0px;
	padding: 0px;
}

body {
    background: #252422;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 800;
}

/* navigation */

nav {
	padding: 30px;
}

/* stage */

#showcase {
	width: 1200px;
	height: 800px;
	margin: auto;
	overflow: visible;
	position: relative;
	top: calc(50vh - 400px);
}

.link{
    color: #FDB731; 
}

.link:hover {
    color: #BD0034;
}

/* letter */

.letter {
	position: absolute;
	opacity: 0;
	animation: opacity 1s ease 1s forwards;
}

@keyframes opacity{
	from{ opacity: 0; }
	to { opacity: 1; }
}


.bounding-box{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px;
    display: inline-block;
    border-radius:10px;
    background:#FFFCF2;
    left:145px;
}

#c.bottomright-triangle{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-top: 20px solid #252422;
    border-left-width: 0px;
    border-right-width: 40px;
    top:200px;
    left:170px;
}

#c.bottomright-triangle:hover ~ #c.bottomright-triangleblank{
    border-right-width: 0px;
}

#c.bottomright-triangleblank{
    position: absolute;
    z-index: 1;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-top: 22px solid #FFFCF2;
    border-left-width: 0px;
    border-right-width: 20px;
    top:199px;
    left:169px;

    transition: all 800ms ease 0s;
}

#c.topright-triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-bottom: 20px solid #252422;
    border-left-width: 0px;
    border-right-width: 40px;
    top:40px;
    left:170px;
}

#c.topright-triangle:hover ~ #c.topright-triangleblank{
    border-right-width: 0px;
}

#c.topright-triangleblank {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-bottom: 22px solid #FFFCF2;
    border-left-width: 0px;
    border-right-width: 20px;
    top:39px;
    left:169px;

    transition: all 800ms ease 0s;
}

#c.leftstroke{
    position: absolute;
    width: 0px;
    height: 140px;
    border: 0 solid transparent;
    border-right: 40px solid #252422;
    border-top-width: 20px;
    border-bottom-width: 20px;
    top:40px;
    left:50px;
}

#c.leftstroke:hover ~ #c.leftstrokeblank{
    left:90px;
}

#c.leftstrokeblank {
    position: absolute;
    width: 0px;
    height: 140px;
    border: 0 solid transparent;
    border-right: 21px solid #FFFCF2;
    border-top-width: 20px;
    border-bottom-width: 20px;
    top:40px;
    left:70px;

    transition: all 800ms ease 0s;
}

#k.topleft-triangle1{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 19.57px;
    border-top: 7px solid #252422;
    top:40px;
    left:69px;
}

#k.topleft-triangle2{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 0px;
    border-top: 7px solid #252422;
    top:40px;
    left:31.5px;
}

#k.bottomleft-triangle1 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 19.57px;
    border-bottom: 7px solid #252422;
    position: absolute;
    top: 213px;
    left: 69px;
    z-index:2;
}

#k.bottomleft-triangle2 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 0px;
    border-bottom: 7px solid #252422;
    position: absolute;
    top: 213px;
    left: 31.5px;
}

#k.topright-triangle{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 19.57px;
    border-top: 7px solid #252422;
    position: absolute;
    top: 40px;
    left: 170px;
    transition: all 800ms ease 0s;
}

#k.topright-triangle:hover{
    border-left-width: 25px;
    border-right-width: 25px;
    border-top-width: 8.75px;
    left:165px;
}

#k.bottomright-triangle{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 140.5px;
    border-bottom: 90px solid #252422;
    position: absolute;
    top: 130px;
    left: 70px;
}

#k.innerblank:hover {
    top:140px;
    border-right-width:136px ;
}

#k.innerblank{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    position: absolute;
    top: 130px;
    left: 70px;
    border-left-width: 0px;
    border-right-width: 121px;
    border-bottom: 91px solid #FFFCF2; 

    transition: all 800ms ease 0s;
}

#k.stroke{
    width: 20px;
    height: 180px;
    position: absolute;
    top: 40px;
    left: 50px;
    background: #252422;
}

#k.stroke:hover ~ #k.strokeblank{
    left:29px;
}

#k.strokeblank {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    position: absolute;
    top: 120px;
    left: 49px;
    border-left: 21px solid #FFFCF2;
    border-top-width: 10px;
    border-bottom-width: 10px; 

    transition: all 800ms ease 0s;
}

#p.topleft-triangle1{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 19.57px;
    border-top: 7px solid #252422;
    top:40px;
    left:69px;
}

#p.topleft-triangle2{
    position: absolute;
    width: 0px;
    height: 0px;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 0px;
    border-top: 7px solid #252422;
    top:40px;
    left:32px;
}

#p.bottomleft-triangle1 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 0px;
    border-right-width: 19.57px;
    border-bottom: 7px solid #252422;
    position: absolute;
    top: 213px;
    left: 69px;
}

#p.bottomleft-triangle2 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 19.57px;
    border-right-width: 0px;
    border-bottom: 7px solid #252422;
    position: absolute;
    top: 213px;
    left: 32px;
}

#p.leftstroke{
    width: 20px;
    height: 180px;
    position: absolute;
    top: 40px;
    left: 50px;
    background: #252422;

    transition: all 800ms ease 0s;
}

#p.leftstroke:hover{
    width:39.57px;
}

#p.rightstroke{
    width: 0;
    height: 58px;
    border: 0 solid transparent;
    position: absolute;
    top: 40px;
    left: 169.5px;
    border-left:40px solid #252422;
    border-top-width: 21px;
    border-bottom-width: 21px;
}

#p.rightstroke:hover ~ .rightstrokeblank{
    left:148px;
}

#p.rightstrokeblank {
    width: 0px;
    height: 60px;
    border: 0 solid transparent;
    position: absolute;
    top: 39px;
    left: 168px;
    border-left: 21px solid #FFFCF2;
    border-top-width: 21px;
    border-bottom-width: 21px; 

    transition: all 800ms ease 0s;
}


#c.bounding-box:hover{
    box-shadow:0px 0px 50px #EB5E28;
}

#p.bounding-box:hover{
    box-shadow:0px 0px 50px #EB5E28;
}

#k.bounding-box:hover{
    box-shadow:0px 0px 50px #EB5E28;

}
